@tailwind base;
@tailwind components;
@tailwind utilities;

.library {
  margin-top: 50px;
}

.error-message-container {
  display: flex;
  justify-content: center;
}

.book-card {
  height: 400px;
}
